{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                aria-controls="overview" aria-selected="true">Overview</a>
            </li>

          </ul>
          <div>
            <div class="btn-wrapper">
              <a href="/webapp" class="btn btn-otline-dark"><i class="mdi mdi-database-plus"></i> Count</a>
            </div>
          </div>
        </div>
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
            <div class="row">
              <div class="col-sm-12">
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div>
                    <p class="statistics-title">Rata-Rata Jumlah Motor</p>
                    <h3 class="rate-percentage">{{rata[0]}}</h3>
                    <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p> -->
                  </div>
                  <div>
                    <p class="statistics-title">Rata-Rata Jumlah Mobil</p>
                    <h3 class="rate-percentage" id="mobil">{{rata[1]}}</h3>
                    <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p> -->
                  </div>
                  <div>
                    <p class="statistics-title">Rata-Rata Jumlah Truk</p>
                    <h3 class="rate-percentage">{{rata[2]}}</h3>
                    <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> -->
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Rata-Rata Jumlah Bus</p>
                    <h3 class="rate-percentage">{{rata[3]}}</h3>
                    <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Chart Perhitungan</h4>
                            <h5 class="card-subtitle card-subtitle-dash">Mingguan</h5>
                          </div>
                          <div id="performance-line-legend"></div>
                        </div>
                        <div class="chartjs-wrapper mt-5">
                          <canvas id="performaneLine"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block chart %}
<script>
  const graph = [1,3,2];
</script>
<script>
  (function ($) {
    'use strict';
    $(function () {
      if ($("#performaneLine").length) {
        var graphGradient = document.getElementById("performaneLine").getContext('2d');
        var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
        var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
        saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
        saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
        var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
        saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
        saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');
        var tanggal = {{tanggal_id | tojson}};
        var data_mobil = {{mobil_id}};
        var data_motor = {{motor_id}};
        var data_truk = {{truk_id}};
        var data_bus = {{bus_id}};
        var salesTopData = {
          labels: tanggal,
          datasets: [{
            label: 'Mobil',
            data: data_mobil,
            backgroundColor: saleGradientBg,
            borderColor: [
              '#F96209',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [4, 4, 4, 4, 4, 4, 4],
            pointHoverRadius: [2, 2, 2, 2, 2, 2, 2],
            pointBackgroundColor: ['#F96209', '#F96209', '#F96209', '#F96209', '#F96209', '#F96209'],
            pointBorderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
          },
          {
            label: 'Motor',
            data: data_motor,
            backgroundColor: saleGradientBg2,
            borderColor: [
              '#52CDFF',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [4, 4, 4, 4, 4, 4, 4],
            pointHoverRadius: [2, 2, 2, 2, 2, 2, 2],
            pointBackgroundColor: ['#52CDFF', '#52CDFF', '#52CDFF', '#52CDFF', '#52CDFF', '#52CDFF'],
            pointBorderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
          },
          {
            label: 'Truk',
            data: data_truk,
            backgroundColor: saleGradientBg2,
            borderColor: [
              '#ffa500',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [4, 4, 4, 4, 4, 4, 4],
            pointHoverRadius: [2, 2, 2, 2, 2, 2, 2],
            pointBackgroundColor: ['#ffa500', '#ffa500', '#ffa500', '#ffa500', '#ffa500', '#ffa500', '#ffa500'],
            pointBorderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
          }, {
            label: 'Bus',
            data: data_bus,
            backgroundColor: saleGradientBg2,
            borderColor: [
              '#1f3865',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [4, 4, 4, 4, 4, 4, 4],
            pointHoverRadius: [2, 2, 2, 2, 2, 2, 2],
            pointBackgroundColor: ['#1f3865', '#1f3865', '#1f3865F', '#1f3865F', '#1f3865F', '#1f3865F', '#1f3865F'],
            pointBorderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
          }]
        };

        var salesTopOptions = {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [{
              gridLines: {
                display: true,
                drawBorder: false,
                color: "#F0F0F0",
                zeroLineColor: '#F0F0F0',
              },
              ticks: {
                beginAtZero: false,
                autoSkip: true,
                maxTicksLimit: 4,
                fontSize: 10,
                color: "#6B778C"
              }
            }],
            xAxes: [{
              gridLines: {
                display: false,
                drawBorder: false,
              },
              ticks: {
                beginAtZero: false,
                autoSkip: true,
                maxTicksLimit: 7,
                fontSize: 10,
                color: "#6B778C"
              }
            }],
          },
          legend: false,
          legendCallback: function (chart) {
            var text = [];
            text.push('<div class="chartjs-legend"><ul>');
            for (var i = 0; i < chart.data.datasets.length; i++) {
              console.log(chart.data.datasets[i]); // see what's inside the obj.
              text.push('<li>');
              text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
              text.push(chart.data.datasets[i].label);
              text.push('</li>');
            }
            text.push('</ul></div>');
            return text.join("");
          },

          elements: {
            line: {
              tension: 0.4,
            }
          },
          tooltips: {
            backgroundColor: 'rgba(31, 59, 179, 1)',
          }
        }
        var salesTop = new Chart(graphGradient, {
          type: 'line',
          data: salesTopData,
          options: salesTopOptions
        });
        document.getElementById('performance-line-legend').innerHTML = salesTop.generateLegend();
      }
      if ($("#performaneLine-dark").length) {
        var graphGradient = document.getElementById("performaneLine-dark").getContext('2d');
        var graphGradient2 = document.getElementById("performaneLine-dark").getContext('2d');
        var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
        saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
        saleGradientBg.addColorStop(1, 'rgba(34, 36, 55, 0.5)');
        var saleGradientBg2 = graphGradient2.createLinearGradient(10, 0, 0, 150);
        saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
        saleGradientBg2.addColorStop(1, 'rgba(34, 36, 55, 0.2)');
        var salesTopDataDark = {
          labels: ["SUN", "sun", "MON", "mon", "TUE", "tue", "WED", "wed", "THU", "thu", "FRI", "fri", "SAT"],
          datasets: [{
            label: '# of Votes',
            data: [50, 110, 60, 290, 200, 115, 130, 170, 90, 210, 240, 280, 200],
            backgroundColor: saleGradientBg,
            borderColor: [
              '#F96209',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
            pointHoverRadius: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
            pointBackgroundColor: ['#F96209)', '#F96209', '#F96209', '#F96209', '#F96209)', '#F96209', '#F96209', '#F96209', '#F96209)', '#F96209', '#F96209', '#F96209', '#F96209)'],
            pointBorderColor: ['#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437',],
          }, {
            label: '# of Votes',
            data: [30, 150, 190, 250, 120, 150, 130, 20, 30, 15, 40, 95, 180],
            backgroundColor: saleGradientBg2,
            borderColor: [
              '#52CDFF',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [0, 0, 0, 4, 0],
            pointHoverRadius: [0, 0, 0, 2, 0],
            pointBackgroundColor: ['#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF', '#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF', '#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF', '#52CDFF)'],
            pointBorderColor: ['#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437', '#222437',],
          }]
        };
        document.getElementById('performance-line-legend-dark').innerHTML = salesTopDark.generateLegend();
      }
      if ($("#datepicker-popup").length) {
        $('#datepicker-popup').datepicker({
          enableOnReadonly: true,
          todayHighlight: true,
        });
        $("#datepicker-popup").datepicker("setDate", "0");
      }
    });
  })(jQuery);
</script>
{% endblock %}