{% extends 'base.html' %}
{% block title %}Hitung{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Perhitungan Kendaraan</h4>
            <p class="card-description">
              <a href="/webapp" class="btn btn-primary"> <i class="mdi mdi-camera"></i>&nbsp; Open Camera</a>
            </p>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Masuk
                    </th>
                    <th>
                      Keluar
                    </th>
                    <th>
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <form method="post" action="/send">
                    <tr>
                      <td>
                        {{masuk}}
                        <input type="hidden" readonly value="{{masuk}}" name="masuk">
                      </td>
                      <td>
                        {{keluar}}
                        <input type="hidden" readonly value="{{keluar}}" name="keluar">
                      </td>
                      <td>
                        <button type="submit" class="btn btn-outline-primary">send</button>
                      </td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}